<div class="row align-items-center justify-content-between">
    <div class="col-auto">
        <div class="page-header-name">Dashboard</div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="col ">Total Blogs</div>
                                <div class="col fw-semibold fs-5 link-l">85,613</div>
                            </div>
                            <div class="col-auto">
                                <div class="col-auto">
                                    <div class="card-icn-wrap icn-circle rounded-52">
                                        <i class="icon-dc-total-blogs fs-4 link-l"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 mt-3">
                                <div class="card-inner-crd card-inner-gray h-100">
                                    <div class="">Active Count:</div>
                                    <div class="fw-bold">12,565</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 mt-3">
                                <div class="card-inner-crd card-inner-light-pink h-100">
                                    <div class="">Inactive Count:</div>
                                    <div class="fw-bold">12,565</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="col ">Case Studies</div>
                                <div class="col fw-semibold fs-5 link-l">85,613</div>
                            </div>
                            <div class="col-auto">
                                <div class="col-auto">
                                    <div class="card-icn-wrap icn-circle rounded-52">
                                        <i class="icon-dc-case-studies fs-4 link-l"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 mt-3">
                                <div class="card-inner-crd card-inner-gray h-100">
                                    <div class="">Active Count:</div>
                                    <div class="fw-bold">12,565</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 mt-3">
                                <div class="card-inner-crd card-inner-light-pink h-100">
                                    <div class="">Inactive Count:</div>
                                    <div class="fw-bold">12,565</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="col ">Current Job Openings</div>
                                <div class="col fw-semibold fs-5 link-l">85,613</div>
                            </div>
                            <div class="col-auto">
                                <div class="col-auto">
                                    <div class="card-icn-wrap icn-circle rounded-52">
                                        <i class="icon-dc-current-openings fs-3 link-l"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 mt-3">
                                <div class="card-inner-crd card-inner-gray h-100">
                                    <div class="">Active Count:</div>
                                    <div class="fw-bold">12,565</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 mt-3">
                                <div class="card-inner-crd card-inner-light-pink h-100">
                                    <div class="">Inactive Count:</div>
                                    <div class="fw-bold">12,565</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="col ">Reviews</div>
                                <div class="col fw-semibold fs-5 link-l">85,613</div>
                            </div>
                            <div class="col-auto">
                                <div class="col-auto">
                                    <div class="card-icn-wrap icn-circle rounded-52">
                                        <i class="icon-dc-reviews fs-4 link-l"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 mt-3">
                                <div class="card-inner-crd card-inner-gray h-100">
                                    <div class="">Active Count:</div>
                                    <div class="fw-bold">12,565</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 mt-3">
                                <div class="card-inner-crd card-inner-light-pink h-100">
                                    <div class="">Inactive Count:</div>
                                    <div class="fw-bold">12,565</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>