<div class="row align-items-center justify-content-between">
    <div class="col-auto">
        <div class="page-header-name">Add Event</div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="accordion accordion-card accordion-gray-card">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button accordion-plus-icn bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#defaultaccordion1" aria-expanded="true" aria-controls="defaultaccordion1">
                        <span class="heading-xxl font-17 m-0">Event Details</span>
                    </button>
                </h2>
                <div id="defaultaccordion1" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-group-label">Event Title<span class="required-field-star">*</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Enter Event Title" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-group-label">Event Sub Title<span class="required-field-star">*</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Enter Event Sub Title" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-group">
                                    <div class="form-group-label">Status<span class="required-field-star">*</span></div>
                                    <ng-select class="ng-select-custom" [clearable]="false" [(ngModel)]="SelectOption" name="SelectOption1" placeholder="Select Status">
                                        <ng-option *ngFor="let BT of SelectOption1" [value]="BT.value">{{BT.label}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-group">
                                    <div class="form-group-label">Event Year<span class="required-field-star">*</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Enter Event Year" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-group">
                                    <div class="form-group-label">Image Folder Name<span class="required-field-star">*</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Enter Image Folder Name" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button accordion-plus-icn bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#defaultaccordion2" aria-expanded="true" aria-controls="defaultaccordion2">
                        <div class="heading-xxl font-17 m-0">Images <span class="
                                required-field-star">(Images Size 1080*1080)</span></div>
                    </button>
                </h2>
                <div id="defaultaccordion2" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-12 text-end mb-3">
                                <button type="button" class="btn btn-primary"> <i class="icon-dc-plus btn-icon-left"></i> Add
                                    More Features</button>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="text-end">
                                                        <a href="" class="link-l-strong">
                                                            <i class="far fa-times-circle fs-4"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-12 mb-3 py-2">
                                                        <div class="uploader">
                                                            <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                                            <label for="file-upload" id="file-drag">
                                                                <img id="file-image" src="#" alt="Preview" class="hidden">
                                                                <div id="start">
                                                                    <i class="fal fa-cloud-upload-alt" aria-hidden="true"></i>
                                                                    <div class="fw-bold">Upload a File</div>
                                                                    <div>Drag and drop Files here</div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <div class="form-group-label">Status<span class="required-field-star">*</span></div>
                                                            <ng-select class="ng-select-custom" [clearable]="false" [(ngModel)]="SelectOption" name="SelectOption1" placeholder="Select Status">
                                                                <ng-option *ngFor="let BT of SelectOption1" [value]="BT.value">{{BT.label}}</ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                        <div class="card mb-4">
                                            <div class="card-body ">
                                                <div class="row">
                                                    <div class="text-end">
                                                        <a href="" class="link-l-strong">
                                                            <i class="far fa-times-circle fs-4"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-12 mb-3 py-2">
                                                        <div class="uploader">
                                                            <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                                            <label for="file-upload" id="file-drag">
                                                                <img id="file-image" src="#" alt="Preview" class="hidden">
                                                                <div id="start">
                                                                    <i class="fal fa-cloud-upload-alt" aria-hidden="true"></i>
                                                                    <div class="fw-bold">Upload a File</div>
                                                                    <div>Drag and drop Files here</div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <div class="form-group-label">Status<span class="required-field-star">*</span></div>
                                                            <ng-select class="ng-select-custom" [clearable]="false" [(ngModel)]="SelectOption" name="SelectOption1" placeholder="Select Status">
                                                                <ng-option *ngFor="let BT of SelectOption1" [value]="BT.value">{{BT.label}}</ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="text-end">
                                                        <a href="" class="link-l-strong">
                                                            <i class="far fa-times-circle fs-4"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-12 mb-3 py-2">
                                                        <div class="uploader">
                                                            <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                                            <label for="file-upload" id="file-drag">
                                                                <img id="file-image" src="#" alt="Preview" class="hidden">
                                                                <div id="start">
                                                                    <i class="fal fa-cloud-upload-alt" aria-hidden="true"></i>
                                                                    <div class="fw-bold">Upload a File</div>
                                                                    <div>Drag and drop Files here</div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <div class="form-group-label">Status<span class="required-field-star">*</span></div>
                                                            <ng-select class="ng-select-custom" [clearable]="false" [(ngModel)]="SelectOption" name="SelectOption1" placeholder="Select Status">
                                                                <ng-option *ngFor="let BT of SelectOption1" [value]="BT.value">{{BT.label}}</ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 bottom-sticky-button-wrap">
        <div class="bottom-sticky-button-inner">
            <div class="text-end">
                <button type="button" class="btn btn-primary px-4">Save Changes</button>
            </div>
        </div>
    </div>
</div>