@use "../abstracts/mixins" as *;

.card-no-data-height {
    height: 350px;
}

.card {
    --bs-border-radius: 12px;
    background-color: var(--card-bg);
    border-color: var(--card-border);
    color: var(--text-primary-subtle);
    box-shadow: 0px 5px 10px color-mix(in srgb, var(--card-shadow-hover) 2%, transparent);
    transition: all 0.15s ease-in-out;

    &.card-hover {
        &:hover {
            border-color: var(--card-border-hover);
            box-shadow: 0px 10px 20px color-mix(in srgb, var(--card-shadow-hover) 5%, transparent);

            .card-hover-end-angle {
                right: 0;
                opacity: 1;
            }
        }

        .card-hover-end-angle {
            position: relative;
            right: 6px;
            font-size: var(--font-size-15);
            color: var(--text-link);
            opacity: 0;
            transition: all 0.3s;
        }
    }

    .card-title {
        color: var(--text-primary-subtle);
    }

    .card-header {
        background: var(--white);
        color: var(--text-primary-subtle);
        height: 60px;
        border-bottom: 0;
        padding-block: 0;
        padding-inline: 20px;

        .card-header-inner {
            align-items: center;
            height: 100%;
        }

        .card-header-title {
            color: var(--text-primary-subtle);
            font-size: var(--font-size-16);
            font-weight: var(--font-medium);
            margin-block-end: 0;
            line-height: 19px;
        }

        ~.card-body {
            padding-block: 0 20px;
            padding-inline: 20px;
        }
    }


    .card-body {
        color: var(--text-primary-subtle);
        padding-block: 20px;
        padding-inline: 20px;
    }

    .card-footer {
        background: var(--white);
        color: var(--text-primary-subtle);
        border-color: var(--bs-border-color);
        padding-block: 20px;
        padding-inline: 20px;
    }
}

.card-head-end-wrap {
    display: flex;
    align-items: center;

    .card-head-end-item {
        position: relative;
        // min-width: 32px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline-start: 16px;

        .btn-link-hover {
            font-size: var(--font-size-16);
            outline-offset: 5px !important;
        }
    }
}

.card-icn-wrap {
    background-color: var(--bg-light-subtle);
    display: flex;
    align-items: center;
    justify-content: center;

    &.icn-rounded {
        border-radius: 13px;
    }

    &.icn-circle {
        border-radius: 50%;
    }


    &.rounded-52 {
        width: 52px;
        height: 52px;
    }

    &.rounded-48 {
        width: 48px;
        height: 48px;
    }

    &.rounded-44 {
        width: 44px;
        height: 44px;
    }
}