@use "../abstracts/mixins" as *;

.pagination {
    position: relative;
    margin-bottom: 0;

    .page-item {
        position: relative;
        margin-inline-start: 8px;

        .page-link {
            --bs-pagination-color: var(--text-primary-subtle);
            --bs-pagination-active-bg: var(--bg-gradient-primary);
            --bs-pagination-active-border-color: var(--bg-primary-active);
            --bs-pagination-font-size: 14px;
            min-width: 37px;
            height: 37px;
            position: relative;
            border-radius: 6px;
            padding-block: 7px;
            padding-inline: 11px;
            letter-spacing: 0;
            box-shadow: none !important;
            display: flex;
            align-items: center;
            justify-content: center;

            &:focus {
                background-color: transparent;
                // color: var(--white);

                // .pagination-icon {
                //     color: var(--white);
                // }
            }

            &:focus-visible {
                box-shadow: 0 0 0 2px color-mix(in srgb, var(--btn-outline-primary-text-focus) 15%, transparent) !important;
            }

            &.disabled,
            &:disabled {
                background-color: var(--btn-outline-primary-bg-disabled) !important;
                color: var(--btn-outline-primary-text-disabled) !important;
                border-color: var(--btn-outline-primary-border-disabled) !important;
                box-shadow: none !important;
                opacity: 1;
                pointer-events: auto;
                cursor: no-drop;
            }

            .pagination-icon {
                font-size: 14px;
                // color: var(--text-link);
            }
        }

        &:not(.active) {
            .page-link {
                &:hover {
                    background: var(--bg-gradient-primary);
                    color: var(--white);
                    border-color: var(--btn-outline-primary-border-hover);
                }

                &:focus-visible {
                    background-color: var(--btn-outline-primary-bg-focus);
                    color: var(--btn-outline-primary-text-focus);
                    border-color: var(--btn-outline-primary-border-focus);
                    box-shadow: 0 0 0 2px color-mix(in srgb, var(--btn-outline-primary-text-focus) 15%, transparent) !important;
                }
            }
        }
    }
}

.active>.page-link,
.page-link.active {
    background: var(--bg-gradient-primary) !important;
}

.btn-auto-load {
    border-radius: 50px;
    font-weight: var(--font-regular);
    box-shadow: 0px 5px 10px color-mix(in srgb, var(--card-shadow-hover) 5%, transparent) !important;

    &:hover {
        box-shadow: 0px 5px 10px color-mix(in srgb, #0067ED 5%, transparent) !important;
    }
}