@use "../abstracts/mixins" as *;

.table-635 {
    height: 635px;
}

.table-card {
    overflow: hidden;

    .table-responsive {
        border-top-width: 1px;
        border-top-style: solid;
        border-color: var(--bs-border-color);
    }
}

.data-table {
    border-radius: 8px;
    overflow: hidden;

    .table-responsive {
        border-top: 0;
    }
}

.list-table-height-1 {
    height: calc(100vh - 220px);
}

.table-card-rounded {
    padding: 20px;
    border-radius: 10px;

    .table-responsive {
        border-top: 0;

        table {

            thead {
                position: sticky;
                top: 0;
                z-index: 20;

                tr {
                    th {
                        border: 0;
                        text-align: center;
                        // position: unset;

                        &.first-fixed-col {
                            // width: auto;
                            max-width: unset !important;
                            min-width: auto !important;
                        }

                        &:first-child {
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }

                        &.first-fixed-col,
                        &.last-fixed-col {
                            &::before {
                                display: none;
                            }
                        }

                        &:last-child {
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
                    }
                }
            }


            tbody {
                tr {
                    td {
                        position: relative;
                        border: 0;
                        text-align: center;

                        &.first-fixed-col {
                            // width: auto;
                            max-width: unset !important;
                            min-width: auto !important;
                        }

                        &.first-fixed-col,
                        &.last-fixed-col {
                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.sub-image-65 {
    width: 65px;
    height: 45px;
    min-width: 65px;
    min-height: 45px;
    object-fit: contain;
    border-radius: 10px;
}

.table-checkbox {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 18px;
    min-height: 18px;
    height: 18px;
    // margin: 0 auto;
    margin-block: 0;
    margin-inline: auto;
    padding-left: 24px;
}

.table-responsive {
    --bs-border-color: var(--table-border);
    overflow: auto;
    // height: 200px;

    table {
        // border-color: var(--table-border);
        // --bs-table-border-color: var(--table-border);
        --bs-table-hover-bg: color-mix(in srgb, var(--table-bg-hover) 50%, transparent);
        white-space: nowrap;

        thead {
            // position: relative;

            // &::before {
            //     content: '';
            //     position: absolute;
            //     left: 0;
            //     right: 0;
            //     top: 45px;
            //     width: 100%;
            //     height: 1px;
            //     background: var(--table-border);
            //     z-index: 2;
            // }

            tr {
                // border-width: 0;
                // border-color: transparent; 
                border-top: 0;
                border-bottom: 0;

                th {
                    height: 45px;
                    background-color: var(--table-heding-bg);
                    color: var(--table-text);
                    font-weight: 500;
                    font-size: var(--font-size-14);
                    line-height: 20px;
                    padding: 12px 12px;
                    text-transform: capitalize;
                    border-bottom: 0;
                    position: relative;
                    border-bottom: 1px solid var(--table-border);
                    // position: sticky;
                    // top: 0;
                    // z-index: 2;
                }
            }
        }

        tbody {
            tr {
                td {
                    color: var(--table-text);
                    font-size: var(--font-size-14);
                    vertical-align: middle;
                    line-height: 19px;
                    padding: 12px 12px;
                    min-height: 48px;
                    height: 48px;

                    .badge {
                        padding: 5px 11px;

                        .badge-inner-num {
                            font-size: var(--font-size-13);
                        }
                    }
                }

                &:last-child {
                    td {
                        border-bottom: 0;
                    }
                }
            }
        }
    }

    .table-bordered {
        // border-top-color: var(--table-heding-bg);
        border-collapse: separate;
        border-spacing: 0;

        thead {
            tr {

                th {
                    // padding: 12px 12px;
                    letter-spacing: 0.2px;
                    // border-right: 1px solid var(--table-border);
                    border-bottom: 1px solid var(--table-border);
                    border-left: 0;

                    &:first-child {
                        border-left: 0;
                    }

                    &:last-child {
                        border-right: 0;
                    }
                }
            }
        }

        tbody {
            tr {

                td {
                    // border-right: 1px solid var(--table-border);
                    // border-top: 1px solid var(--table-border);
                    border-bottom: 1px solid var(--table-border);
                    border-left: 0;

                    &:first-child {
                        border-left: 0;
                    }

                    &:last-child {
                        border-right: 0;
                    }
                }

                &:first-child {
                    border-top: 0;
                }

                &:last-child {
                    border-bottom: 0;
                }
            }
        }

        &.table-bordered-horizontal {
            tbody {
                tr {

                    td {
                        border-right: 0;
                        border-left: 0;
                        // border-top: 1px solid var(--table-border);
                    }
                }
            }
        }
    }

    .table-border {
        thead {
            tr {
                th {
                    border-right: 1px solid var(--table-border);
                }
            }
        }

        tbody {
            tr {
                td {
                    border-right: 1px solid var(--table-border);
                    border-bottom: 1px solid var(--table-border);
                }
            }
        }
    }

    .thead-fixed {
        thead {
            tr {
                th {
                    position: sticky;
                    top: 0;
                    z-index: 4;
                }
            }
        }
    }

    .table-sm {
        thead {
            tr {
                th {
                    padding-block: 9px 9px;
                    padding-inline: 10px 10px;
                    height: 40px;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding-block: 9px 9px;
                    padding-inline: 10px 10px;
                    min-height: 40px;
                    height: 40px;
                }
            }
        }
    }
}

.dummy-table-row {
    td {
        height: 13px !important;
        min-height: 13px !important;
        max-height: 13px !important;
    }
}

.first-fixed-col {
    width: 48px;
    max-width: 48px !important;
    min-width: 48px !important;
    position: sticky !important;
    left: 0;
    z-index: 3;
    text-align: center;

    // border-right: 1px solid #e6eaef !important;
    &::before {
        content: '';
        border-right: 1px solid var(--table-border);
        height: 100%;
        position: absolute;
        top: 0;
        right: -1px;
        bottom: 0;
    }
}

.last-fixed-col {
    width: 75px;
    // max-width: 75px !important;
    min-width: 75px !important;
    position: sticky !important;
    right: 0;
    z-index: 3;
    text-align: center;
    // border-left: 1px solid #e6eaef !important;

    &::before {
        content: '';
        border-left: 1px solid var(--table-border);
        height: 100%;
        position: absolute;
        top: 0;
        left: -1px;
        bottom: 0;
    }
}

@media only screen and (max-width: 767px) {
    .first-fixed-col {
        position: relative !important;

    }

    .last-fixed-col {
        position: relative !important;
    }
}

th {
    &.first-fixed-col {
        z-index: 5 !important;
    }
}

.actions-wrap {
    list-style: none;
    padding: 0;
    // margin: 0;
    margin-block: 0;
    margin-inline: 0;
}

.actions-style-1 {
    display: flex;
    align-items: center;
    justify-content: end;
}

.actions-item {
    position: relative;
    padding-left: 1px;
    padding-right: 1px;

    &:last-child {
        .action-btn-32 {

            margin-right: 0;
        }
    }

    .action-btn-32 {
        width: 32px;
        height: 32px;
        min-width: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-15);
        margin-right: 10px;
        border-radius: 6px;
    }

    .action-btn-25 {
        width: 25px;
        height: 25px;
        min-width: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-13);

    }

    .actions-icon-btn {
        max-width: 15px;
        min-width: 15px;
        padding: 0;
        // margin-left: 4px;
        // margin-right: 4px;
        margin-inline: 4px 4px;
        border: 0;
        font-size: var(--font-size-14);
        transition: color 0.2s;
        outline-offset: 3px !important;
        line-height: 0;
        // outline-width: 2px !important;
    }
}