<div class="row align-items-center justify-content-between">
    <div class="col-auto">
        <div class="page-header-name">Add Portfolio</div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="accordion accordion-card accordion-gray-card">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button accordion-plus-icn bg-white" type="button" data-bs-toggle="collapse"
                        data-bs-target="#defaultaccordion1" aria-expanded="true" aria-controls="defaultaccordion1">
                        <span class="heading-xxl font-17 m-0">Portfolio Details</span>
                    </button>
                </h2>
                <div id="defaultaccordion1" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-group">
                                    <div class="form-group-label">Title<span class="required-field-star">*</span></div>
                                    <input type="text" class="form-control" placeholder="Enter Title"
                                        autocomplete="off">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-group">
                                    <div class="form-group-label">Tag<span class="required-field-star">*</span></div>
                                    <ng-select class="ng-select-custom" [clearable]="false" [(ngModel)]="SelectOption"
                                        name="SelectOption1" placeholder="Select Tag">
                                        <ng-option *ngFor="let BT of SelectOption1"
                                            [value]="BT.value">{{BT.label}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-group">
                                    <div class="form-group-label">Categories<span class="required-field-star">*</span>
                                    </div>
                                    <ng-select class="ng-select-custom" [clearable]="false" [(ngModel)]="SelectOption_2"
                                        name="SelectOption2" placeholder="Select Tag">
                                        <ng-option *ngFor="let BT of SelectOption2"
                                            [value]="BT.value">{{BT.label}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="form-group-label">Description<span class="required-field-star">*</span>
                                    </div>
                                    <textarea rows="5" class="form-control h-auto" placeholder="Description"
                                        autocomplete="off"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group-label">Product Image<span
                                                class="required-field-star">*</span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="uploader">
                                            <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                            <label for="file-upload" id="file-drag">
                                                <img id="file-image" src="#" alt="Preview" class="hidden">
                                                <div id="start">
                                                    <i class="fal fa-cloud-upload-alt" aria-hidden="true"></i>
                                                    <div class="fw-bold">Upload a File</div>
                                                    <div>Drag and drop Files here</div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group-label">Solution Diagram<span
                                                class="required-field-star">*</span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="uploader">
                                            <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                            <label for="file-upload" id="file-drag">
                                                <img id="file-image" src="#" alt="Preview" class="hidden">
                                                <div id="start">
                                                    <i class="fal fa-cloud-upload-alt" aria-hidden="true"></i>
                                                    <div class="fw-bold">Upload a File</div>
                                                    <div>Drag and drop Files here</div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group-label">Banner Image<span
                                                class="required-field-star">(Icon
                                                Size
                                                1073*520)*</span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="uploader">
                                            <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                            <label for="file-upload" id="file-drag">
                                                <img id="file-image" src="#" alt="Preview" class="hidden">
                                                <div id="start">
                                                    <i class="fal fa-cloud-upload-alt" aria-hidden="true"></i>
                                                    <div class="fw-bold">Upload a File</div>
                                                    <div>Drag and drop Files here</div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="form-group-label">Client Overview<span
                                            class="required-field-star">*</span>
                                    </div>
                                    <div class="w-100">
                                        <angular-editor [placeholder]="'Enter text here'"
                                            [(ngModel)]="htmlContent"></angular-editor>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="form-group-label">Business Need<span
                                            class="required-field-star">*</span>
                                    </div>
                                    <div class="w-100">
                                        <angular-editor [placeholder]="'Enter text here'"
                                            [(ngModel)]="htmlContent"></angular-editor>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="form-group-label">Dotcom Contribution<span
                                            class="required-field-star">*</span>
                                    </div>
                                    <div class="w-100">
                                        <angular-editor [placeholder]="'Enter text here'"
                                            [(ngModel)]="htmlContent"></angular-editor>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="form-group-label">Benefits Delivered<span
                                            class="required-field-star">*</span>
                                    </div>
                                    <div class="w-100">
                                        <angular-editor [placeholder]="'Enter text here'"
                                            [(ngModel)]="htmlContent"></angular-editor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button accordion-plus-icn bg-white" type="button" data-bs-toggle="collapse"
                        data-bs-target="#defaultaccordion2" aria-expanded="true" aria-controls="defaultaccordion2">
                        <div class="heading-xxl font-17 m-0">Product Features <span class="
                                required-field-star">(Icon Size 80*80)</span></div>
                    </button>
                </h2>
                <div id="defaultaccordion2" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-12 text-end mb-3">
                                <button type="button" class="btn btn-primary"> <i
                                        class="icon-dc-plus btn-icon-left"></i> Add
                                    More Features</button>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="text-end">
                                                <a href="" class="link-l-strong">
                                                    <i class="far fa-times-circle fs-4"></i>
                                                </a>
                                            </div>
                                            <div class="col-12 mb-3 py-2">
                                                <div class="uploader">
                                                    <input id="file-upload" type="file" name="fileUpload"
                                                        accept="image/*" />
                                                    <label for="file-upload" id="file-drag">
                                                        <img id="file-image" src="#" alt="Preview" class="hidden">
                                                        <div id="start">
                                                            <i class="fal fa-cloud-upload-alt" aria-hidden="true"></i>
                                                            <div class="fw-bold">Upload a File</div>
                                                            <div>Drag and drop Files here</div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="form-group-label">Title<span
                                                            class="required-field-star">*</span></div>
                                                    <input type="text" class="form-control" placeholder="Enter Title"
                                                        autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="form-group-label">Description<span
                                                            class="required-field-star">*</span></div>
                                                    <textarea rows="3" class="form-control h-auto"
                                                        placeholder="Enter Description" autocomplete="off"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="form-group-label">Status<span
                                                            class="required-field-star">*</span></div>
                                                    <ng-select class="ng-select-custom" [clearable]="false"
                                                        [(ngModel)]="SelectOption" name="SelectOption1"
                                                        placeholder="Select Status">
                                                        <ng-option *ngFor="let BT of SelectOption1"
                                                            [value]="BT.value">{{BT.label}}</ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="text-end">
                                                <a href="" class="link-l-strong">
                                                    <i class="far fa-times-circle fs-4"></i>
                                                </a>
                                            </div>
                                            <div class="col-12 mb-3 py-2">
                                                <div class="uploader">
                                                    <input id="file-upload" type="file" name="fileUpload"
                                                        accept="image/*" />
                                                    <label for="file-upload" id="file-drag">
                                                        <img id="file-image" src="#" alt="Preview" class="hidden">
                                                        <div id="start">
                                                            <i class="fal fa-cloud-upload-alt" aria-hidden="true"></i>
                                                            <div class="fw-bold">Upload a File</div>
                                                            <div>Drag and drop Files here</div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="form-group-label">Title<span
                                                            class="required-field-star">*</span></div>
                                                    <input type="text" class="form-control" placeholder="Enter Title"
                                                        autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="form-group-label">Description<span
                                                            class="required-field-star">*</span></div>
                                                    <textarea rows="3" class="form-control h-auto"
                                                        placeholder="Enter Description" autocomplete="off"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="form-group-label">Status<span
                                                            class="required-field-star">*</span></div>
                                                    <ng-select class="ng-select-custom" [clearable]="false"
                                                        [(ngModel)]="SelectOption" name="SelectOption1"
                                                        placeholder="Select Status">
                                                        <ng-option *ngFor="let BT of SelectOption1"
                                                            [value]="BT.value">{{BT.label}}</ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="text-end">
                                                <a href="" class="link-l-strong">
                                                    <i class="far fa-times-circle fs-4"></i>
                                                </a>
                                            </div>
                                            <div class="col-12 mb-3 py-2">
                                                <div class="uploader">
                                                    <input id="file-upload" type="file" name="fileUpload"
                                                        accept="image/*" />
                                                    <label for="file-upload" id="file-drag">
                                                        <img id="file-image" src="#" alt="Preview" class="hidden">
                                                        <div id="start">
                                                            <i class="fal fa-cloud-upload-alt" aria-hidden="true"></i>
                                                            <div class="fw-bold">Upload a File</div>
                                                            <div>Drag and drop Files here</div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="form-group-label">Title<span
                                                            class="required-field-star">*</span></div>
                                                    <input type="text" class="form-control" placeholder="Enter Title"
                                                        autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="form-group-label">Description<span
                                                            class="required-field-star">*</span></div>
                                                    <textarea rows="3" class="form-control h-auto"
                                                        placeholder="Enter Description" autocomplete="off"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="form-group-label">Status<span
                                                            class="required-field-star">*</span></div>
                                                    <ng-select class="ng-select-custom" [clearable]="false"
                                                        [(ngModel)]="SelectOption" name="SelectOption1"
                                                        placeholder="Select Status">
                                                        <ng-option *ngFor="let BT of SelectOption1"
                                                            [value]="BT.value">{{BT.label}}</ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row position-sticky bottom-0">
    <div class="col-12 text-end">
        <div class="bg-white p-2 border-top rounded">
            <button type="button" class="btn btn-primary px-4 btn-xl">Save Changes</button>
        </div>
    </div>
</div>