<div class="row align-items-center justify-content-between">
    <div class="col-auto">
        <div class="page-header-name">Career Enquiry</div>
    </div>
    <div class="col-auto text-end">
        <div class="nav-header-action">
            <div class="nav-head-item">
                <button type="button" class="btn btn-light" data-bs-toggle="offcanvas"
                    data-bs-target="#CareerEnquiryFilter">
                    <i class="icon-dc-filter btn-icon-left"></i> Filter</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card data-table table-card-rounded">
            <div class="table-responsive scroll-light list-table-height-1">
                <table class="table thead-fixed mb-0">
                    <thead>
                        <tr>
                            <th class="first-fixed-col" width="60">Resume</th>
                            <th>Name</th>
                            <th>Email Id</th>
                            <th>Job Title</th>
                            <th>Experience</th>
                            <th>Current CTC</th>
                            <th>Phone Number</th>
                            <th>Message</th>
                            <th>Enquiry Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="first-fixed-col">
                                <ul class="actions-wrap actions-style-1">
                                    <li class="actions-item">
                                        <button type="button" class="btn btn-outline-primary action-btn-32">
                                            <i class="icon-dc-file-pdf"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                            <td>Aatif Jariwala</td>
                            <td>geoffreyrush@gmail.com</td>
                            <td>Product Engineer</td>
                            <td>1 Year</td>
                            <td>10,000</td>
                            <td>+91 8456295936</td>
                            <td>
                                <div class="text-wrap">
                                    Lorem Ipsum is simply dummy industry...<a href="" class="btn btn-link">Read
                                        More</a>
                                </div>
                            </td>
                            <td>28 March 2025 04:10:24 PM</td>
                        </tr>
                        <tr>
                            <td class="first-fixed-col">
                                <ul class="actions-wrap actions-style-1">
                                    <li class="actions-item">
                                        <button type="button" class="btn btn-outline-primary action-btn-32">
                                            <i class="icon-dc-file-pdf"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                            <td>Neha Rathod</td>
                            <td>geoffreyrush@gmail.com</td>
                            <td>Business Analyst</td>
                            <td>1 Year</td>
                            <td>30,000</td>
                            <td>+91 8456295936</td>
                            <td>
                                <div class="text-wrap">
                                    Lorem Ipsum is simply dummy industry...<a href="" class="btn btn-link">Read
                                        More</a>
                                </div>
                            </td>
                            <td>28 March 2025 04:10:24 PM</td>
                        </tr>
                        <tr>
                            <td class="first-fixed-col">
                                <ul class="actions-wrap actions-style-1">
                                    <li class="actions-item">
                                        <button type="button" class="btn btn-outline-primary action-btn-32">
                                            <i class="icon-dc-file-pdf"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                            <td>Aatif Jariwala</td>
                            <td>geoffreyrush@gmail.com</td>
                            <td>Product Engineer</td>
                            <td>1 Year</td>
                            <td>10,000</td>
                            <td>+91 8456295936</td>
                            <td>
                                <div class="text-wrap">
                                    Lorem Ipsum is simply dummy industry...<a href="" class="btn btn-link">Read
                                        More</a>
                                </div>
                            </td>
                            <td>28 March 2025 04:10:24 PM</td>
                        </tr>
                        <tr>
                            <td class="first-fixed-col">
                                <ul class="actions-wrap actions-style-1">
                                    <li class="actions-item">
                                        <button type="button" class="btn btn-outline-primary action-btn-32">
                                            <i class="icon-dc-file-pdf"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                            <td>Neha Rathod</td>
                            <td>geoffreyrush@gmail.com</td>
                            <td>Business Analyst</td>
                            <td>1 Year</td>
                            <td>30,000</td>
                            <td>+91 8456295936</td>
                            <td>
                                <div class="text-wrap">
                                    Lorem Ipsum is simply dummy industry...<a href="" class="btn btn-link">Read
                                        More</a>
                                </div>
                            </td>
                            <td>28 March 2025 04:10:24 PM</td>
                        </tr>
                        <tr>
                            <td class="first-fixed-col">
                                <ul class="actions-wrap actions-style-1">
                                    <li class="actions-item">
                                        <button type="button" class="btn btn-outline-primary action-btn-32">
                                            <i class="icon-dc-file-pdf"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                            <td>Aatif Jariwala</td>
                            <td>geoffreyrush@gmail.com</td>
                            <td>Product Engineer</td>
                            <td>1 Year</td>
                            <td>10,000</td>
                            <td>+91 8456295936</td>
                            <td>
                                <div class="text-wrap">
                                    Lorem Ipsum is simply dummy industry...<a href="" class="btn btn-link">Read
                                        More</a>
                                </div>
                            </td>
                            <td>28 March 2025 04:10:24 PM</td>
                        </tr>
                        <tr>
                            <td class="first-fixed-col">
                                <ul class="actions-wrap actions-style-1">
                                    <li class="actions-item">
                                        <button type="button" class="btn btn-outline-primary action-btn-32">
                                            <i class="icon-dc-file-pdf"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                            <td>Neha Rathod</td>
                            <td>geoffreyrush@gmail.com</td>
                            <td>Business Analyst</td>
                            <td>1 Year</td>
                            <td>30,000</td>
                            <td>+91 8456295936</td>
                            <td>
                                <div class="text-wrap">
                                    Lorem Ipsum is simply dummy industry...<a href="" class="btn btn-link">Read
                                        More</a>
                                </div>
                            </td>
                            <td>28 March 2025 04:10:24 PM</td>
                        </tr>
                        <tr>
                            <td class="first-fixed-col">
                                <ul class="actions-wrap actions-style-1">
                                    <li class="actions-item">
                                        <button type="button" class="btn btn-outline-primary action-btn-32">
                                            <i class="icon-dc-file-pdf"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                            <td>Aatif Jariwala</td>
                            <td>geoffreyrush@gmail.com</td>
                            <td>Product Engineer</td>
                            <td>1 Year</td>
                            <td>10,000</td>
                            <td>+91 8456295936</td>
                            <td>
                                <div class="text-wrap">
                                    Lorem Ipsum is simply dummy industry...<a href="" class="btn btn-link">Read
                                        More</a>
                                </div>
                            </td>
                            <td>28 March 2025 04:10:24 PM</td>
                        </tr>
                        <tr>
                            <td class="first-fixed-col">
                                <ul class="actions-wrap actions-style-1">
                                    <li class="actions-item">
                                        <button type="button" class="btn btn-outline-primary action-btn-32">
                                            <i class="icon-dc-file-pdf"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                            <td>Neha Rathod</td>
                            <td>geoffreyrush@gmail.com</td>
                            <td>Business Analyst</td>
                            <td>1 Year</td>
                            <td>30,000</td>
                            <td>+91 8456295936</td>
                            <td>
                                <div class="text-wrap">
                                    Lorem Ipsum is simply dummy industry...<a href="" class="btn btn-link">Read
                                        More</a>
                                </div>
                            </td>
                            <td>28 March 2025 04:10:24 PM</td>
                        </tr>
                        <tr>
                            <td class="first-fixed-col">
                                <ul class="actions-wrap actions-style-1">
                                    <li class="actions-item">
                                        <button type="button" class="btn btn-outline-primary action-btn-32">
                                            <i class="icon-dc-file-pdf"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                            <td>Aatif Jariwala</td>
                            <td>geoffreyrush@gmail.com</td>
                            <td>Product Engineer</td>
                            <td>1 Year</td>
                            <td>10,000</td>
                            <td>+91 8456295936</td>
                            <td>
                                <div class="text-wrap">
                                    Lorem Ipsum is simply dummy industry...<a href="" class="btn btn-link">Read
                                        More</a>
                                </div>
                            </td>
                            <td>28 March 2025 04:10:24 PM</td>
                        </tr>
                        <tr>
                            <td class="first-fixed-col">
                                <ul class="actions-wrap actions-style-1">
                                    <li class="actions-item">
                                        <button type="button" class="btn btn-outline-primary action-btn-32">
                                            <i class="icon-dc-file-pdf"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                            <td>Neha Rathod</td>
                            <td>geoffreyrush@gmail.com</td>
                            <td>Business Analyst</td>
                            <td>1 Year</td>
                            <td>30,000</td>
                            <td>+91 8456295936</td>
                            <td>
                                <div class="text-wrap">
                                    Lorem Ipsum is simply dummy industry...<a href="" class="btn btn-link">Read
                                        More</a>
                                </div>
                            </td>
                            <td>28 March 2025 04:10:24 PM</td>
                        </tr>
                        <tr>
                            <td class="first-fixed-col">
                                <ul class="actions-wrap actions-style-1">
                                    <li class="actions-item">
                                        <button type="button" class="btn btn-outline-primary action-btn-32">
                                            <i class="icon-dc-file-pdf"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                            <td>Aatif Jariwala</td>
                            <td>geoffreyrush@gmail.com</td>
                            <td>Product Engineer</td>
                            <td>1 Year</td>
                            <td>10,000</td>
                            <td>+91 8456295936</td>
                            <td>
                                <div class="text-wrap">
                                    Lorem Ipsum is simply dummy industry...<a href="" class="btn btn-link">Read
                                        More</a>
                                </div>
                            </td>
                            <td>28 March 2025 04:10:24 PM</td>
                        </tr>
                        <tr>
                            <td class="first-fixed-col">
                                <ul class="actions-wrap actions-style-1">
                                    <li class="actions-item">
                                        <button type="button" class="btn btn-outline-primary action-btn-32">
                                            <i class="icon-dc-file-pdf"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                            <td>Neha Rathod</td>
                            <td>geoffreyrush@gmail.com</td>
                            <td>Business Analyst</td>
                            <td>1 Year</td>
                            <td>30,000</td>
                            <td>+91 8456295936</td>
                            <td>
                                <div class="text-wrap">
                                    Lorem Ipsum is simply dummy industry...<a href="" class="btn btn-link">Read
                                        More</a>
                                </div>
                            </td>
                            <td>28 March 2025 04:10:24 PM</td>
                        </tr>
                        <tr>
                            <td class="first-fixed-col">
                                <ul class="actions-wrap actions-style-1">
                                    <li class="actions-item">
                                        <button type="button" class="btn btn-outline-primary action-btn-32">
                                            <i class="icon-dc-file-pdf"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                            <td>Aatif Jariwala</td>
                            <td>geoffreyrush@gmail.com</td>
                            <td>Product Engineer</td>
                            <td>1 Year</td>
                            <td>10,000</td>
                            <td>+91 8456295936</td>
                            <td>
                                <div class="text-wrap">
                                    Lorem Ipsum is simply dummy industry...<a href="" class="btn btn-link">Read
                                        More</a>
                                </div>
                            </td>
                            <td>28 March 2025 04:10:24 PM</td>
                        </tr>
                        <tr>
                            <td class="first-fixed-col">
                                <ul class="actions-wrap actions-style-1">
                                    <li class="actions-item">
                                        <button type="button" class="btn btn-outline-primary action-btn-32">
                                            <i class="icon-dc-file-pdf"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                            <td>Neha Rathod</td>
                            <td>geoffreyrush@gmail.com</td>
                            <td>Business Analyst</td>
                            <td>1 Year</td>
                            <td>30,000</td>
                            <td>+91 8456295936</td>
                            <td>
                                <div class="text-wrap">
                                    Lorem Ipsum is simply dummy industry...<a href="" class="btn btn-link">Read
                                        More</a>
                                </div>
                            </td>
                            <td>28 March 2025 04:10:24 PM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-4">
                <div class="text-center text-lg-start py-3">Showing 1 to 20 of 500 Entries</div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div
                    class="d-flex align-items-center justify-content-center justify-content-md-start justify-content-lg-center py-2">
                    <div class="">Show</div>
                    <div class="">
                        <select>
                            <option>25</option>
                            <option>50</option>
                            <option>75</option>
                            <option>100</option>
                        </select>
                    </div>
                    <div class="">Entries</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <ul class="pagination justify-content-center justify-content-md-end">
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="icon-dc-caret-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="icon-dc-caret-left"></i>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="icon-dc-caret-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="icon-dc-caret-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end filter-offcanvas floating-offcanvas" tabindex="-1" id="CareerEnquiryFilter">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Filter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <div class="form-group-label">Name</div>
                    <input type="text" class="form-control" placeholder="Enter Name">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <div class="form-group-label">Email Id</div>
                    <input type="text" class="form-control" placeholder="Enter Email Id">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <div class="form-group-label">Job Title</div>
                    <ng-select class="ng-select-custom" [clearable]="false" [(ngModel)]="SelectOption"
                        name="SelectOption1" placeholder="Select Job Title">
                        <ng-option *ngFor="let BT of SelectOption1" [value]="BT.value">{{BT.label}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <div class="form-group-label">Enquiry Date</div>
                    <div class="position-relative">
                        <input [(bsValue)]="dateRange1" autocomplete="off" class="form-control" name="Registration_Date"
                            placeholder="Enquiry  Date" [bsConfig]="datepickerConfig1"
                            (bsValueChange)="onDateChange($event)" bsDaterangepicker>
                        <div class="form-right-icon">
                            <i class="icon-dc-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-light w-100" data-bs-dismiss="offcanvas">Reset</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-primary w-100" data-bs-dismiss="offcanvas">Submit</button>
            </div>
        </div>
    </div>
</div>