<div class="row align-items-center justify-content-between">
    <div class="col-auto">
        <div class="page-header-name">User Enquiry List</div>
    </div>
    <div class="col-auto text-end">
        <div class="nav-header-action">
            <div class="nav-head-item">
                <button type="button" class="btn btn-light" data-bs-toggle="offcanvas"
                    data-bs-target="#UserEnquiryListFilter">
                    <i class="icon-dc-filter btn-icon-left"></i> Filter
                    <span *ngIf="isFilterApplied" class="badge bg-primary ms-1">{{ activeFilterCount }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card data-table table-card-rounded">
            <div class="table-responsive scroll-light list-table-height-1">
                <table class="table thead-fixed mb-0">
                    <thead>
                        <tr>
                            <th class="first-fixed-col" width="60">Action</th>
                            <th>Name</th>
                            <th>Email Id</th>
                            <th>Contact Number</th>
                            <th>Enquiry Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="loading">
                            <td colspan="5" class="text-center py-5">
                                <img src="assets/images/loader.gif" alt="Loading..." style="width: 80px; height: 80px;">
                            </td>
                        </tr>
                        <tr *ngFor="let contact of contacts" [hidden]="loading">
                            <td class="first-fixed-col">
                                <ul class="actions-wrap actions-style-1">
                                    <li class="actions-item">
                                        <button type="button" class="btn btn-outline-primary action-btn-32"
                                            data-bs-toggle="modal" data-bs-target="#ServiceEnquiriesListInfoModal">
                                            <i class="icon-dc-circle-info"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                            <td>{{ contact.firstName }} {{ contact.lastName }}</td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.phone }}</td>
                            <td>{{ formatDate(contact.createdAt) }}</td>
                        </tr>
                        <tr *ngIf="!loading && contacts.length === 0">
                            <td colspan="5" class="text-center">No enquiries found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-4">
                <div class="text-center text-lg-start py-3">Showing {{ contacts.length }} Entries</div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div
                    class="d-flex align-items-center justify-content-center justify-content-md-start justify-content-lg-center py-2">
                    <div class="">Show</div>
                    <div class="">
                        <select>
                            <option>25</option>
                            <option>50</option>
                            <option>75</option>
                            <option>100</option>
                        </select>
                    </div>
                    <div class="">Entries</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <ul class="pagination justify-content-center justify-content-md-end">
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="icon-dc-caret-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="icon-dc-caret-left"></i>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="icon-dc-caret-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="icon-dc-caret-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ServiceEnquiriesListInfoModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Enquiry Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <div class="form-group-label">Name</div>
                            <input type="text" class="form-control" placeholder="Enter Name" readonly>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <div class="form-group-label">Email Id</div>
                            <input type="text" class="form-control" placeholder="Enter Email Id" readonly>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <div class="form-group-label">Phone</div>
                            <input type="text" class="form-control" placeholder="Enter Phone" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-end pt-0">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end filter-offcanvas floating-offcanvas" tabindex="-1" id="UserEnquiryListFilter">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Filter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <div class="form-group-label">Name </div>
                    <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="filter.name">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <div class="form-group-label">Email Id</div>
                    <input type="text" class="form-control" placeholder="Enter Email Id" [(ngModel)]="filter.email">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <div class="form-group-label">Date</div>
                    <div class="position-relative">
                        <input [(bsValue)]="dateRange1" autocomplete="off" class="form-control" name="Registration_Date"
                            placeholder="Enter Date" [bsConfig]="datepickerConfig1"
                            (bsValueChange)="onDateChange($event)" bsDaterangepicker>
                        <div class="form-right-icon">
                            <i class="icon-dc-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-light w-100" (click)="resetFilter()">Reset</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-primary w-100" (click)="applyFilter()" data-bs-dismiss="offcanvas">Submit</button>
            </div>
        </div>
    </div>
</div>